body{
    background-image: url(../images/hangMan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1
{
    text-align: center;
    color: blueviolet;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span
{
    color: blueviolet;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2em;
   font-weight: bold;
   margin-left: 0.5em;
   margin-right: 0.5em;

}

#lettre
{
    margin-top: 2%;
    margin-left: 5%;
    height: 25px;
    width: 120px;
    border-radius: 6%;
    background-color: plum;

}

#Failed
{
    margin-top: 1%;
    margin-left: 5%;
    height: 25px;
    width: 120px;
    border-radius: 6%;
    background-color: plum;
}

#HangPic
{

    width: 276px;
    height: 336px;
    background-repeat: no-repeat;
    background-size: contain;
}
.step1_pic
{
    background-image: url('../images/pendu_05.png');
}
.step2_pic
{
    background-image: url('../images/pendu_06.png');
}
.step3_pic
{
    background-image: url('../images/pendu_07.png');
}
.step4_pic
{
    background-image: url('../images/pendu_08.png');
}
.step5_pic
{
    background-image: url('../images/pendu_09.png');
}
.step6_pic
{
    background-image: url('../images/pendu_10.png');
}
.step7_pic
{
    background-image: url('../images/pendu_11.png');
}


.step8_pic
{
    background-image: url('../images/pendu_12.png');
}

.error
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}