/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root
{
    --bleuC : #d7e8e3;
    --bleuVert : #38727c;
    --vert : #a6b6af;
    --bleu : #b2d5e3;
    --gris : #e2e2e2;
    --beige : #f8f3e9;
    --blanc : #ffffff;
}

body
{
    min-height: 2000px;
    background-color: var(--beige);
    overflow-x: hidden;
}

h3
{
    font-size: 2.5rem;
}

h5
{
    font-size: 1.8rem;
    color: var(--bleuVert);
    text-align: center;
}

h6
{
    font-size: 1.5rem;
    color: var(--bleuVert);
}

p
{
    font-family: "Bodoni Moda", serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.fontBleuVert
{
    color: var(--bleuVert);
}

.fontVert
{
    color: var(--vert);
}

/* Btn */
.button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 150px;
    border: 1px solid var(--blanc);
    border-radius: 24px;
    background-color: var(--bleuVert);
    color: var(--beige);
    text-decoration: none;
}

.button:hover
{
    background-color: var(--bleu);
    transition: 6300ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* END : Btn */

/* NavBar */
.navbar
{ 
    position: relative;
    margin-top: 2%;
    background-color: var(--bleuVert);
    border-radius: 25px;
    position: fixed;
    top: 10;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 80%;
}

.navbar li a
{
    color: var(--beige);
    font-size: clamp(1rem, 2vw, 2rem);
    white-space: nowrap;
}

.navbar .logo-container
{
    position: relative;
}

.navbar .logo
{
    position: absolute;
    height: 150px;
    width: 150px;
    top: -50px; /* Décale le logo vers le haut de 15px */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centrer parfaitement */
    
}
/* END NavBAR*/

/* Animation horloge */
.wrap
{
    width: 0px;
    height: 0px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.minute, .heure
{
    position: absolute;
    height: 50px;
    width: 6px;
    margin: auto;
    background: black;
    top: 0% !important;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.minute
{
    position: absolute;
    height: 61px;
    width: 4px;
    transform: rotate(90deg);
}

.seconde
{
    position: absolute;
    height: 61px;
    width: 2px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: -26%;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
/* END horloge*/

/* Section : home */
.homeTitle
{
    /*font-family: "Yrsa", serif;*/
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: var(--beige);
}

.homeSecondTitle
{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: var(--bleu);
}


section .hero
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section .bg-video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

section .hero-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
/* END Section : home */

/* Section : about */
.about
{
    min-height: 500px;
}

section .about1
{
    background-color: var(--bleuVert);
}

section .about1 img
{
    height: 30rem;
    width: 20rem;
    margin-top: 15%;
    margin-bottom: 15%;
}

section .about2
{
    background-color: var(--bleuC);
}

section .about2 article
{
    padding: 80px 30px 30px 100px;
}
/* END Section : about */

/* Section : projects */
.mainTitle
{
    margin-bottom: 5% !important;
}

#projects
{
    min-height: 1200px;
    padding: 200px 0px !important;
}

section .card
{
    min-height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 40px !important;
    overflow: hidden;
}

section .card-title
{
    color: var(--bleuVert);
    font-size: 2rem;
    text-align: center;
}

#projects .card-img-top
{
    object-fit: cover;
}

section .card-text
{
    font-size: 1.3rem;
    text-align: center;
}

section .card-body
{
    background-color: var(--bleuC);
}
/* END Section : projects */

/* Section : Pictos */
#pictos 
{
    background-color: var(--vert);
}

.custom-carousel 
{
    max-width: 100%;
    height: auto;
}

.custom-carousel .carousel-inner 
{
    overflow: hidden;
}

.custom-carousel .carousel-item img 
{
    max-width: 50%;
    max-height: 50%;
    object-fit: contain; 
}

#carouselPictos .carousel-item img 
{
    height: 250px; 
    width: auto; 
    object-fit: contain; 
    object-position: center;
    padding: 10px; 
    display: block;
    margin: 0 auto;
}

#carouselPictos .carousel-item 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background: transparent; 
}
/* END Section : Pictos */

/* Section : Stage */
section .bloc1
{
    background-color: var(--bleuC);
}

section .bloc2
{
    background-color: var(--bleu);
}

#accordionFlushExample 
{
    border-radius: 0.8rem;
    overflow: hidden;
    border: 1px solid #ccc;
}

.accordion-button
{
    background-color: var(--bleuC) !important;
    font-size: 1.5rem;
    color: var(--bleuVert);
}

.accordion-button:hover
{
    background-color: var(--beige);
}

.accordion-body
{
    background-color: var(--vert);
    color: var(--blanc);
    font-size: 1.2rem;
}
/* END Section : Stage */

/* Section : Skills */
.tecTitle
{
    margin-bottom: 5% !important;
}

section .skills-container
{
    min-height: 600px;
    padding: 200px 0;
}

.animationPictos-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--vert);
    padding: 30px 0;
}

/* La piste de défilement */
.animationPictos-tracks {
    display: flex;
    align-items: center;
    gap: 40px; /* espacements identiques */
    animation: scroll-right 25s linear infinite;
}

/* Les images */
.animationPictos-tracks img {
    height: 90px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.animationPictos-container:hover .animationPictos-tracks {
    animation-play-state: paused;
}

/* Défilement continu vers la gauche */
@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Ajuste si nécessaire */
    }
}
/* END Section : Skills */

/* Footer */
footer
{
    min-height: 500px;
    background-color: var(--gris);
}

footer p
{
    color: var(--bleuVert);
    text-align: center;
}

footer small
{
    color: var(--bleuVert);
    font-weight: bold;
}

footer #mapid
{
    height: 350px;
}

footer .content
{
    margin-top: 2%;
}
/* END : Footer */

/* media queries */
/*NavBar*/

/* Taille par défaut (mobile) */
.navbar li a 
{
    font-size: 1.2rem;
}

/* Tablettes */
@media (min-width: 768px) 
{
    .navbar li a 
    {
        font-size: 1.5rem;
    }
}

/* Écrans larges (desktop) */
@media (min-width: 1024px) {
    .navbar li a {
        font-size: 2rem;
    }
}