/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root
{
    --bleuC : #d7e8e3;
    --bleuVert : #38727c;
    --vert : #a6b6af;
    --bleu : #b2d5e3;
    --gris : #e2e2e2;
    --beige : #f8f3e9;
    --blanc : #ffffff;
}

body
{
    min-height: 2000px;
    background-color: var(--beige);
    overflow-x: hidden;
}

h3
{
    font-size: 2.5rem;
}

h5
{
    font-size: 1.8rem;
    color: var(--bleuVert);
    text-align: center;
}

h6
{
    font-size: 1.5rem;
    color: var(--bleuVert);
}

p
{
    font-family: "Bodoni Moda", serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.fontBleuVert
{
    color: var(--bleuVert);
}

.fontVert
{
    color: var(--vert);
}

/* Btn */
.button
{
    height: 50px;
    min-width: 150px;
    border: 1px solid var(--blanc);
    border-radius: 24px;
    background-color: var(--bleuVert);
    color: var(--beige);
}

.button:hover
{
    background-color: var(--bleu);
    transition: 6300ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* END : Btn */

/* NavBar */
.navbar
{ 
    position: relative;
    margin-top: 2%;
    background-color: var(--bleuVert);
    border-radius: 25px;
    position: fixed;
    top: 10;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 80%;
}

.navbar li a
{
    color: var(--beige);
    font-size: clamp(1rem, 2vw, 2rem);
    white-space: nowrap;
}

.navbar .logo-container
{
    position: relative;
}

.navbar .logo
{
    position: absolute;
    height: 150px;
    width: 150px;
    top: -50px; /* Décale le logo vers le haut de 15px */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centrer parfaitement */
    
}
/* END NavBAR*/

/* Animation horloge */
.wrap
{
    width: 0px;
    height: 0px;
    position: relative;
}

.minute, .heure
{
    position: absolute;
    height: 50px;
    width: 6px;
    margin: auto;
    background: black;
    top: 0% !important;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.minute
{
    position: absolute;
    height: 61px;
    width: 4px;
    transform: rotate(90deg);
}

.seconde
{
    position: absolute;
    height: 61px;
    width: 2px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: -26%;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
/* END horloge*/

/* Section : home */
.homeTitle
{
    /*font-family: "Yrsa", serif;*/
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: var(--beige);
}

.homeSecondTitle
{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: var(--bleu);
}


section .hero
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section .bg-video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

section .hero-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
/* END Section : home */

/* Section : about */
.about
{
    min-height: 500px;
}

section .about1
{
    background-color: var(--bleuVert);
}

section .about1 img
{
    margin-top: 15%;
    margin-bottom: 15%;
}

section .about2
{
    background-color: var(--bleuC);
}

section .about2 article
{
    padding: 80px 30px 30px 100px;
}
/* END Section : about */

/* Section : projects */
section .card
{
    min-height: 40rem;
}

section .card-title
{
    color: var(--bleuVert);
    font-size: 2rem;
    text-align: center;
}

section .card-text
{
    font-size: 1.3rem;
    text-align: center;
}

section .card-body
{
    background-color: var(--bleuC);
}
/* END Section : projects */

/* Section : Pictos */
section .sliderContent
{
    background-color: var(--vert);
    min-height: 1000px;
}

section .custom-carousel
{
    max-width: 600px;
    height: 750px;
    margin: auto;
    overflow: hidden;
}

section .custom-carousel .carousel-item img
{
    height: 100%;             /* Remplit toute la hauteur */
    width: 100%;              /* Remplit toute la largeur */
    object-fit: cover; 
}
/* END Section : Pictos */

/* Section : Stage */
section .bloc1
{
    background-color: var(--bleuC);
}

section .bloc2
{
    background-color: var(--bleu);
}
/* END Section : Stage */

/* Footer */
footer
{
    min-height: 500px;
    background-color: var(--gris);
}

footer p
{
    color: var(--bleuVert);
    text-align: center;
}

footer small
{
    color: var(--bleuVert);
    font-weight: bold;
}

footer #mapid
{
    height: 350px;
}
/* END : Footer */

/* media queries */
/*NavBar*/

/* Taille par défaut (mobile) */
.navbar li a {
    font-size: 1.2rem;
}

/* Tablettes */
@media (min-width: 768px) {
    .navbar li a {
        font-size: 1.5rem;
    }
}

/* Écrans larges (desktop) */
@media (min-width: 1024px) {
    .navbar li a {
        font-size: 2rem;
    }
}