@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;600&display=swap');

:root
{
    --violet : #686bae;
    --yellow : #f1eda3;
    --pink : #e5d2e0;
    --blue : #05a9c7;
}

body
{
    box-sizing: border-box;
    overflow-x: hidden;
}

header
{
    background-color: var(--violet);
}

/*Nav*/
nav
{
    height: 100px;
}

ul
{
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: var(--violet);
    opacity: 80%;
    justify-content: space-evenly;
    z-index: 10;
}

li
{
    padding-top: 1%;

}

li a
{
    display: block;
    color: var(--yellow);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    color: var(--blue);
}

/*MainTitle + animation*/
h1
{
    position: relative;
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 12em !important;
    line-height: .7em !important;
    top: 5%;
    left: 2%;
    animation: flash 1.2s linear infinite;
}
@keyframes flash 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
    90% {
        color: var(--yellow);
        text-transform: none;
    }
    100% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
}

h1:nth-child(1){
    animation-delay: 0.1s;
}
h1:nth-child(2){
    animation-delay: 0.3s;
}
h1:nth-child(3){
    animation-delay: 0.5s;
}
h1:nth-child(4){
    animation-delay: 0.7s;
}

#logo
{
    position: fixed;
    top: -5%;
    left: 40%;
    height: 170em;
    width: 170em;
    opacity: 50%;
    z-index: 20;
}

#part-violet
{
    height: 800px;
    width: 100%;
    background-color: var(--violet);
}

#part-yellow
{
    height: 3200px;
    width: 100%;
    background-color: var(--yellow);
    margin-top: -20%;
}

#aboutMe
{
    flex-direction: column;
    height: 20em;
    width: 30em;
    font-size: 2em;
    text-align: justify;
    line-height: 1.1em;
    border: solid 6px var(--blue);
    border-radius: 12px;
    color: var(--blue);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 25%;
    z-index: 5;
}

/*Titles*/

#titleProjets
{
    font-size: 6em !important;
    animation: flash2 4s linear infinite;
    text-align: center;
}

@keyframes flash2 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 10px var(--pink);
    }
    90% {
        color: var(--blue);
        text-transform: none;
    }
    100% {
        color: var(--violet);
        text-shadow: 0 0 10px var(--pink);
    }
}

h2
{
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em !important;
    text-align: center;
    padding: 2%;
}

h4
{
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

h5
{
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

button
{
    height: 3em;
    width: 6em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
}

button:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}

.btn
{
    height: 3em;
    width: 7em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
    margin-left: 40%;
}

.btn:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}

#card1Btn
{
    position: absolute;
    top: 92%;
    left: 1%;
}

#card2Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card3Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card4Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card5Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

/*SVG*/
.wave
{
    margin-top: -20%;
    transform: scale(1.2);
    z-index: 1;
}

#pictosMolen
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 43%;
    bottom: 18%;
}

#pictosHack
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 43%;
    bottom: 18%;
}

#pictosPokemon
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 27%;
    bottom: 23%;
}

#pictosAsturias
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 37%;
    bottom: 22%;
}

#pictosNode
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 33%;
    bottom: 21%;
}

/*CARDS*/
.card
{
    height: 650px;
    width: 450px;
    background-color: var(--blue);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
    box-shadow: 8px 8px 12px #aaa;
}

#txt
{
    color: var(--yellow);
    text-align: justify;
}

#cardsBlock
{
    position: relative;
    top: 9%;
    left: 6%;
}
