@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&family=Poppins:wght@200&display=swap');

:root
{
    --violet : #686bae;
    --yellow : #f1eda3;
    --pink : #e5d2e0;
    --blue : #05a9c7;
}

body
{
    box-sizing: border-box;
    overflow-x: hidden;
}

header
{
    background-color: var(--violet);
}

/*Nav*/
nav
{
    height: 100px;
}

#logo
{
    position: relative;
    opacity: 100%;
    height: 300px;
    width: 300px;
    left: 80%;
    bottom: 40%;
}

ul
{
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: var(--violet);
    opacity: 80%;
    justify-content: space-evenly;
    z-index: 10;
}

li
{
    padding-top: 1%;

}

li a
{
    display: block;
    color: var(--yellow);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    color: var(--blue);
}

.dropdown
{
    display: none;
}

/*MainTitle + animation*/
h1
{
    position: relative;
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 10em !important;
    line-height: .7em !important;
    top: 8%;
    left: -45%;
    animation: flash 1.2s linear infinite;
}
@keyframes flash 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
    90% {
        color: var(--yellow);
        text-transform: none;
    }
    100% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
}

h1:nth-child(1){
    animation-delay: 0.1s;
}
h1:nth-child(2){
    animation-delay: 0.3s;
}
h1:nth-child(3){
    animation-delay: 0.5s;
}
h1:nth-child(4){
    animation-delay: 0.7s;
}
/*END*/

#introTxt
{
    margin-top: -5%;
    margin-bottom: 5%;
}

/*Skills animation*/
#skills
{
    height: 80px;
    width: 80px;
}

#borderSkills
{
    border: solid 5px var(--yellow);
    height: 150px;
    width: 4000px;
    margin-left: -3000%;
    margin-top: 1200%;
}

#container
{
    height: 100px;
    width: 3000px;
    margin-top: .5%; 
    margin-left: 0%;  
    animation: skills 8.5s linear infinite;
}

@keyframes skills
{
    0%
    {
        transform: translateX(0px);
        opacity: 10%;
    }

    25%
    {
        transform: translateX(500px);
        opacity: 100%;
    }

    50%
    {
        transform: translateX(800px);
        opacity: 10%;
    }

    75%
    {
        transform: translate(1100px);
        opacity: 100%;
    }

    100%
    {
        transform: translateX(1400px);
        opacity: 10%;
    }
}

#skillsTxt
{
    position: absolute;
    color: var(--yellow);
    font-size: 6em;
    font-family: 'Bebas Neue', cursive;
    top: 120%;
    left: 45%;
}
/*END*/

/*Sections*/
#part-violet
{
    height: 1000px;
    width: 100%;
    background-color: var(--violet);
}

#part-yellow
{
    height: 2500px;
    width: 100%;
    background-color: var(--yellow);
    margin-top: -20%;
}

#part-pink
{
    height: 3700px;
    width: 100%;
    background-color: var(--pink);
    margin-top: -20%;
}
/*END*/

#intro
{
        width: 900px;
        background-color: var(--pink);
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        color: var(--violet);
        border-radius: 12px;
        margin-left: 10%;
        margin-top: -20%;
}

#intro:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
    box-shadow: 8px 8px 12px #aaa;
}

/*Titles*/

#titleProjets
{

    font-size: 9em !important;
    margin-bottom: 50px;
    margin-left: 85%;
    animation: flash2 4s linear infinite;
}

@keyframes flash2 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 10px var(--pink);
    }
    90% {
        color: var(--blue);
        text-transform: none;
    }
    100% {
        color: var(--violet);
        text-shadow: 0 0 10px var(--pink);
    }
}

h2
{
    color: var(--violet);
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em !important;
    text-align: center;
    padding: 2%;
}

h4
{
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

h5
{
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
    padding: 0%;
}

#picto-h5
{
    color: var(--blue);
    margin-right: 265%;
}

/*BTN*/
button
{
    height: 3em;
    width: 6em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
}

button:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}


.btn
{
    height: 3em;
    width: 7em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
    margin-left: 40%;
}

.btn:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}

#introBtn
{
   position: relative;
   right: 100px;
   font-family: 'Bebas Neue', cursive;
}

#card1Btn
{
    position: absolute;
    top: 92%;
    left: 21%;
}

#card2Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card3Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card4Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card5Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

#card6Btn
{
    position: absolute;
    top: 90%;
    left: 21%;
}

/*Img size*/
#imgCards
{
    height: 220px !important;
}
/*END*/

/*CARDS*/
#cardsBlock
{
    margin-left: -5%;
}

/*SVG*/
#wave1
{
    margin-top: -20%;
    transform: scale(1.2);
    z-index: 1;
}

#wave2
{
    margin-top: -20%;
    transform: scale(1.2);
    z-index: 1;
}

#wave3
{
    margin-top: -20%;
    margin-bottom: -20%;
    transform: scale(1.2);
    z-index: 1;
}

#pictosMolen
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 43%;
    bottom: 18%;
}

#pictosHack
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 43%;
    bottom: 18%;
}

#pictosPokemon
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 27%;
    bottom: 23%;
}

#pictosAsturias
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 37%;
    bottom: 22%;
}

#pictosNode
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 33%;
    bottom: 21%;
}

#pictosToDoList
{
    position: relative;
    height: 790px;
    width: 790px;
    right: 33%;
    bottom: 21%;
}

#pictoList
{
   position: relative;
   height: 75px;
   width: 75px;
   left: 0%;

}

#Git
{
    height: 50px;
    width: 50px;
    margin-right: 10%;
}

#Git:hover
{
    transform: scale(1.5);
    transition: transform 330ms ease-in;
}

#LinkedIn
{
    height: 50px;
    width: 50px;
    margin-right: 10%;
}

#LinkedIn:hover
{
    transform: scale(1.5);
    transition: transform 330ms ease-in;
}

#Mail
{
    height: 50px;
    width: 50px;   
}

#Mail:hover
{
    transform: scale(1.5);
    transition: transform 330ms ease-in;
}

#GLM
{
    position: absolute;
    left: 45%;
    
    
    
}

/*CARDS*/
.card
{
    height: 650px;
    width: 450px;
    background-color: var(--blue);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
    box-shadow: 8px 8px 12px #aaa;
}

#txt
{
    color: var(--yellow);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

#cardsBlock
{
    position: relative;
    top: 9%;
    left: 6%;
}

/*List-group*/
#list
{
    background-color: var(--pink);
    color: var(--blue);
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#logo1
{
    height: 300px;
    width: 350px;
}

#logo2
{
    height: 300px;
    width: 350px;
}
/*END*/

#agoria
{
    background-color: var(--violet);
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: var(--yellow);
    border-radius: 12px;
    margin-top: 350px;
}

/*Table*/
table
{
    margin-top: 50px;
    background-color: var(--violet);
    border-radius: 12px;
}

thead, td
{
    color: var(--yellow);
    font-family: 'Poppins', sans-serif;
}

th
{
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5em;
}

td a 
{
    color: var(--yellow);
}

footer
{
    background-color: var(--blue);
    height: 300px;
    color: var(--yellow);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#chris
{
    position: relative;
    bottom: 0%;
    font-size: 1.5em;
    top: 50%;
}

/*Media queries*/
@media only screen and (max-width : 680px)
{
    /*Style mobile, on travail sur les périphériques dt la largeur est inférieure à 480px*/
    .navbar
    {
        display: none;
    }

    .dropdown
    {
        display: block;
    }

    #dropdownMenu2
    {
        height: 50px;
        width: 100px;
        font-size: large;
    }

    #part-violet
    {
        height: 1250px;
        width: 100%;
        background-color: var(--violet);
    }

    #part-yellow
    {
        height: 5500px;
        width: 100%;
        background-color: var(--yellow);
        margin-top: -20%;
    }

    #part-pink
    {
        height: 4700px;
        width: 100%;
        background-color: var(--pink);
        margin-top: -20%;
    }

    #logo
    {
        display: none;
    }

    #logo1 
    {
        margin-left: 20%;
    }

    #logo2
    {
        margin-left: 20%;
    }

    h1
    {
        font-size: 7em !important;
        margin-left: 20%;
    }

    #intro
    {
        height: 800px;
        width: 450px;
        margin-top: 20%;
        margin-left: 20%;
    }

    #titleProjets
    {
        font-size: 4em !important;
        margin-top: -50%;
    }

    .list-group
    {
        margin-top: 30% !important;
    }

    #agoria
    {
        
    }
}

@media only screen and (min-width : 681px) and (max-width : 968px)
{
    /*Nav*/
    nav
    {
        height: 210px;
    }

    ul
    {
        position: fixed;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        background-color: var(--violet);
        opacity: 80%;
        justify-content: space-evenly;
        z-index: 10;
    }

    li
    {
        padding-top: 1%;

    }

    li a
    {
        display: block;
        color: var(--yellow);
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover
    {
        color: var(--blue);
    }

    h1
    {
        font-size: 8em !important;
    }

    #logo
    {
        position: relative;
        opacity: 100%;
        height: 300px;
        width: 300px;
        left: 80%;
        bottom: 40%;
    }

    #intro
    {
        width: 900px;
        background-color: var(--pink);
        font-family: 'Bebas Neue', cursive;
        font-size: 1.2em;
        color: var(--violet);
        border-radius: 12px;
        margin-left: 0%;
        margin-top: -20%;
    }
}

@media only screen and (min-width : 969px)
{
    /*Style pour les ordinateurs*/
    
    
}