@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat&family=Merriweather:wght@300&family=Playfair+Display&family=Poppins:wght@100;300&family=Ranchers&display=swap');

:root
{
    --violet : #686bae;
    --yellow : #f1eda3;
    --pink : #e5d2e0;
    --blue : #05a9c7;
}

body
{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--violet);
}

p
{
    color: var(--yellow);
    font-size: 1.5em;
}

/*Nav*/
nav
{
    height: 7em;
    background-color: var(--violet);
    opacity: 80%;
    z-index: 20;
}

.navbar-brand
{
    color: var(--yellow);
    font-size: 2.5em;
}

.nav-link
{
    display: block;
    color: var(--yellow);
    font-size: 2em;
    font-family: 'Ranchers', sans-serif;
    font-weight: bold;
}

.nav-link:hover
{
    color: var(--blue);
}
/*Nav END*/

/*Animation horloge*/
.clock
{
    height: 20em;
    width: 20em;
    background: url(../img/svg/Logo.svg) no-repeat;
    margin-top: 20%;
}

.wrap
{
    width: 298px;
    height: 298px;
    position: relative;
}

.minute, .heure
{
    position: absolute;
    height: 100px;
    width: 6px;
    margin: auto;
    background: black;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.minute
{
    position: absolute;
    height: 130px;
    width: 4px;
    top: -38%;
    left: 0;
    right: 0;
    transform: rotate(90deg);
}

.seconde
{
    position: absolute;
    height: 90px;
    width: 2px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: -26%;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
/*END*/

.fontCaveat
{
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    font-weight: bold;

}

.fontRanchers
{
    font-family: 'Ranchers', sans-serif;
}

.colorYellow
{
    color: var(--yellow);
}

.colorBlue
{
    color: var(--blue);
}

.fontSizeTitles
{
    font-size: 2em;
}

.fontSizeMedium
{
    font-size: 1.5em;
}

.sizeIcones
{
    height: 2em;
    width: 2em;
}

/*Titles*/
.mainTitle
{
    margin-top: 5%;
}

#titleSkills
{
    font-size: 8em;
    color: var(--yellow);
    margin-top: 5%;
}

#titleProjets
{
    font-size: 8em;
    color: var(--blue);
    margin-top: 5%;
}

#titlePictos
{
    font-size: 8em;
    color: var(--violet);
    margin-top: 5%;
}

#titleCertifications
{
    font-size: 8em;
    color: var(--pink);
    margin-top: 5%;
}
/*Titles END*/

/*MainTitle + animation*/
h1
{
    position: relative;
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 10em !important;
    line-height: .7em !important;
    top: 8%;
    left: -45%;
    animation: flash 1.2s linear infinite;
}
@keyframes flash 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
    90% {
        color: var(--yellow);
        text-transform: none;
    }
    100% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
}

h1:nth-child(1){
    animation-delay: 0.1s;
}
h1:nth-child(2){
    animation-delay: 0.3s;
}
h1:nth-child(3){
    animation-delay: 0.5s;
}
h1:nth-child(4){
    animation-delay: 0.7s;
}
/*END*/

/*Skills animation*/
#skills
{
    height: 80px;
    width: 80px;
}

#borderSkills
{
    border: solid 2px var(--yellow);
    height: 150px;
    width: 4000px;
    margin-top: 15%;
    margin-left: -37%;
    
}

#container
{
    height: 100px;
    width: 3000px;
    margin-top: .5%; 
    margin-left: -20%;  
    animation: skills 8.5s linear infinite;
}

@keyframes skills
{
    0%
    {
        transform: translateX(200px);
        opacity: 10%;
    }

    25%
    {
        transform: translateX(500px);
        opacity: 100%;
    }

    50%
    {
        transform: translateX(800px);
        opacity: 10%;
    }

    75%
    {
        transform: translate(1100px);
        opacity: 100%;
    }

    100%
    {
        transform: translateX(1400px);
        opacity: 10%;
    }
}

#skillsTxt
{
    color: var(--yellow);
    font-size: 6em;
    font-family: 'Bebas Neue', cursive;
    margin-left: 30%;
    margin-top: -4.3%;
}

.boxShadow
{
    box-shadow: 8px 8px 12px #aaa;
}
/*END*/

/*Btn*/
.btn
{
    height: 3em;
    width: 7em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
    margin-left: 40%;
}

.btn:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}

.cardBtn
{
    margin-left: -60%;
}
/*Btn END*/

/*Logos, pictos*/
#logo
{
    height: 20em;
    width: 20em;
}

#picto1
{
    height: 15em;
    width: 20em;
}

#picto2
{
    height: 15em;
    width: 20em;
}

#picto3
{
    height: 15em;
    width: 20em;
}

#pictoList
{
    height: 5em;
    width: 5em;
}
/*Logos, pictos END*/

/*Section*/
.acceuil
{
    background: url(../img/banner/banner1.svg) center center no-repeat;
    background-size: cover;
    height: 5100px;
}

.projets
{
    background: url(../img/banner/banner2.svg) center center no-repeat;
    background-size: cover;
    height: 5500px;
    margin-top: -100%;
}

.pictos
{
    background: url(../img/banner/banner3.svg) center center no-repeat;
    background-size: cover;
    height: 6900px;
    margin-top: -130%;
}

.certifications
{
    background: url(../img/banner/banner4.svg) center center no-repeat;
    background-size: cover;
    height: 3500px;
    margin-top: -133%;
}
/*Section END*/

/*Cards*/
#cardAcceuil
{
    background-color: var(--pink);
}

#cardAcceuil:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
    box-shadow: 8px 8px 12px #aaa;
}

.card
{
    background-color: var(--blue);
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
    box-shadow: 8px 8px 12px #aaa;
}
/*Cards END*/

.list-group-item
{
    background-color: var(--violet);
}

/*Stage*/
#agoria
{
    background-color: var(--violet);
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: var(--yellow);
    border-radius: 12px;
}

table
{
    margin-top: 50px;
    background-color: var(--violet);
    border-radius: 12px;
    height: 30em;
}

thead, td
{
    color: var(--yellow);
    font-family: 'Poppins', sans-serif;
}

th
{
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5em;
}

td a 
{
    color: var(--yellow);
}
/*Stage END*/

/*CarouselCertifications*/
.carousel-control
{
    height: 1300px;
}

#carouselExampleFade
{
    margin-top: 10%;
    border: solid 15px var(--pink);
    box-shadow: 8px 8px 12px #aaa;
}

.carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: black;
    text-decoration: none;
    background-color: rgb(0,0,0,0.5);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-control-prev {
    left: 0; 
  }
  
  .carousel-control-next {
    right: 0;
  }
/*CarouselCertifications END*/

  /*Footer*/
footer
{
    
    margin-top: -25%;
}

 #mapid
 {
    height: 300px;
    border-radius: 12px;
 } 

.netWorks
{
    height: 70px;
    width: 70px;
}

.netWorks:hover
{
    transform: scale(1.5);
    transition: transform 330ms ease-in;
}
  /*Footer END*/

/*Media queries*/

/*Style pour mobile,largeur d'écran inférieur à 480px*/
@media only screen and (max-width : 480px)
{
    /*MainTitle*/
    .mainTitle
    {
        font-size: .7em;
        margin-top: 20%;
        margin-left: 40%;
    }

    /*Clock*/
    .clock
    {
        margin-left: 12%;
    }

    /*Section*/
    .acceuil
    {
        height: 6400px;
    }

    .projets
    {
        margin-top: -850%;
        height: 11000px;
    }

    .pictos
    {
        height: 10600px;
        margin-top: -1620%;
    }

    .certifications
    {
        height: 1000px;
        margin-top: -1630%;
    }

    /*Titles*/
    #titleSkills, #titleProjets, #titlePictos, #titleCertifications
    {
        font-size: 4em;
    }

    /*Bloc Agoria*/
    .scroll
    {
        width: 365px;
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid var(--taupe);
        margin: auto;
    }

    /*Carousel bg*/
    .carousel-control
    {
        height: 460px;
    }

    /*AnimationLogo*/
    .animationLogo
    {
        display: none;
    }
}

/*Style pour les tablettes*/
@media only screen and (min-width : 481px) and (max-width : 768px)
{

}

/*Style pour les desktop*/
@media only screen and (min-width : 769px)
{

}
